@import "materialize.scss";
@import "components/klinic-slab";


#header{
  position: relative;
  margin-top: -64px;
  @media #{$large-and-up} {
    margin-top: 0;
  }
  .container .header, .container{
    color: #fff;
  }
}

@media #{$medium-and-down} {
  .side-nav li {
    a {
      font-family: Klinic Slab;
      font-size: 1.5rem;
      color: $secondary-color;
    }
    &.active {
      background-color: $primary-color;
      a {
        color: #fff;
      }
    }
  }
}

.parallax-container{
  color: #fff;
  .valign-wrapper{
    height: 500px;
    text-align: center;
  }
  &.large{
    height: 500px;
    @media #{$large-and-up} {
      height: 700px;
    }
  }
  .valign{
    margin-left: auto;
    margin-right: auto;
    @media #{$medium-and-down} {
      img{
        width: 50%;
      }
    }
  }
  .main-logo + .header{
    margin-top: 5rem;
  }
  input[type=email]{
    background-color: rgba(255,255,255,.8);
    padding-left: 10px;
    &:focus + label.active{
      color: #fff;
    }
  }
  label:not(.active){
    padding-left: 10px;
    color: $primary-color;
  }
}

#mce-success-response {
  clear: left;
}

.scroll{
  position: absolute;
  left: 50%;
  bottom: 10px;
  margin-left: -30px;
}

// Override collapse
.collapsible-header{
  padding: 0;
  border-bottom: 0;
}
.collapsible-body {
  border-bottom: 0px;

  z-index: 2;
  overflow: visible;

  .row:last-child{
    margin-bottom: 0;
  }
}
.collapsible{
  border: none;
  box-shadow: none;
}

//Override drop down for form
.dropdown-content{
  z-index: 2;
}

.btn.inline{
  margin-top: 14px;
  height: 44px;
  line-height: 47px;
}

.promo{
  margin-top: 4rem;
  i{
    display: block;
    color: $primary-color;
  }
  > .col{
    min-height: 150px;
  }
}

.container{
  @extend .indigo-text;
  &.extra-padding{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &.last{
    padding-bottom: 8em;
  }
  .header {
    @extend .blue-text;
  }
}


.header{
  font-family: Klinic Slab;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: bold;
  line-height: 2.5rem;
  position: relative;
  &.incline{
    margin-bottom: 4rem;
    text-align: center;
    transform: rotate(-5deg);
  }
}

form{
  margin-top: 1rem;
  margin-bottom: 2rem;
  .btn-large{
    margin-top: 2rem;
  }
}

.mce_inline_error {
  width: 660px;
  text-align: left;
  color : color($red, lighten-2);
}

#mc-embedded-subscribe-form .email{
  color: $primary-color;
}

.page-footer{
  text-align: center;
  position: relative;
}
.round-logo {
  position: absolute;
  left: 50%;
  top: -100px;
  margin-left: -90px;
  display: block;
  background-color: #fff;
  width: 180px;
  height: 180px;
  padding-top: 58px;
  border-radius: 50%;
}

footer{
  .parallax-container .valign-wrapper,
  .parallax-container{
    height: 330px;
  }
  .valign{
    width: 100%;
  }
  a{
    color: #fff;
  }
  @media #{$medium-and-up} {
    .col {
      border-right: 1px solid #fff;
      &:last-child {
        border-right: 0;
      }
    }
  }
}

.footer-copyright.center {
  margin-top: -80px;
  color: #fff;
}
