@font-face
  font-family: Klinic Slab
  src: url('../fonts/KlinicSlabBoldIt.otf') format('opentype')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Open sans'
  src: url('../fonts/OpenSans-Regular.ttf') format('opentype')
