mixin button(link, buttonText)
  .svg-wrapper
    svg(preserveAspectRatio="xMinYMin" viewBox="0 0 320 68")
      rect.shape(height="68" width="320")
      .text
        a.button-link(href="#{link}")
          =buttonText
          i.icon-right
