footer.page-footer
  .round-logo
    img(src="/images/ahoy-logo-blue.png")
  .parallax-container
    .parallax
      img(src='/images/hero.jpg')

    .valign-wrapper
      .valign
        .row.center
          .col.s12.m4
            a(href='/secure-payment') Secure payment
          .col.s12.m4
            a(href='/privacy-policy') Privacy Policy
          .col.s12.m4
            a(href='/terms-of-service') Terms of Service

  .footer-copyright.center
    | ©Ahoy Enterprise 2015 - all right reserved
