mixin top-header-image(image)
  .parallax-container
    .parallax
      img(src='/images/#{image}')

    .valign-wrapper
      .valign
        img.main-logo(src="/images/ahoy-logo.png")

mixin top-header-image-2(image,title,desc)
  .parallax-container.large
    .parallax
      img(src='images/hero.jpg')

    .valign-wrapper
      .valign
        .container
          img.main-logo(src="/images/ahoy-logo.png")
          h2.header!= title
          p!= desc

  .scroll.hide-on-med-and-down
    img(src='/images/scroll.png')

mixin top-header(title,desc)
  header
    h1.title= title
    p.subtitle!= desc
