each media in data.mediaReleases.results
  .post.row
    .post-content.media.mobile-margin(
      data-ks-editable=editable(user, {list: 'MediaRelease', id: media.id})
      class= data.sideBarReleases ? 'col-md-offset-4 col-md-12' : 'col-md-offset-2 col-md-15')
      if media.publishedDate
        .post-inline-date
          | #{media._.publishedDate.format('D')}/#{media._.publishedDate.format('M')}/#{media._.publishedDate.format('YY')}
      h3.post-title= media.title
      .para!= media.content.brief
      .post-more.link
        a.link(href="#{String(media.pdf.path).replace('public/','')}/#{encodeURI(media.pdf.filename)}" download=media.pdf.filename)
          i.icon-download
          | Download PDF

if data.mediaReleases.next
  .clearfix.showMoreRow
    .col-md-17.mobile-no-padding
      a.showMore.link(href='/media-releases?page=' + data.mediaReleases.next)
        | Show more
        i.icon-top

if data.sideBarReleases
  .row
    .col-md-offset-2.col-md-14
      a.showAll.link.no-margin(href='/media-releases')
        | View all
        i.icon-right
