nav
  .nav-wrapper
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.mdi-navigation-menu
    ul.right.hide-on-med-and-down
      each link in navLinks
        li(class=(section  == link.key ? 'active' : null))
          a(href=link.href)= link.label
    ul#mobile-demo.side-nav
      each link in navLinks
        li(class=(section  == link.key ? 'active' : null) )
          a(href=link.href)= link.label
