mixin post(post, user, mainContent)
  .post(data-ks-editable=editable(user, {list: 'Post', id: post.id}))

    if post.title
      if(mainContent)
        h1.post-title: a(href='/news/post/' + post.slug)= post.title
      else
        h3.post-title: a(href='/news/post/' + post.slug)= post.title

    if post.publishedDate
      .post-date
        span.day #{post._.publishedDate.format('DD')}
        span.month #{post._.publishedDate.format('MMM')}

    if post.categories && post.categories.length
      .post-side-category
        each cat, i in post.categories
          a(href='/news/' + cat.key)= cat.name
          if i < post.categories.length - 1
            | ,&nbsp

    if post.content.brief
      .para!= post.content.brief

    if post.content.extended
      .post-more.link
        a(href='/post/' + post.slug)
          | Read more
          i.icon-right



