each post in data.posts.results
  .post
    //- (data-ks-editable=editable(user, {list: 'Post', id: post.id}))
    if post.publishedDate
      .post-date.col-md-offset-2
        span.day #{post._.publishedDate.format('DD')}
        span.month #{post._.publishedDate.format('MMM')}
    .col-md-2
      if post.categories && post.categories.length
        .post-side-category
          if filters.category
            = filters.category
          else
            if post.categories.length >= 0
              a(href='/news/' + post.categories[0].key)= post.categories[0].name
    .post-content.news(class=data.sideBarPost ? 'col-md-offset-2 col-md-12' : 'col-md-14 col-md-offset-1')
      h3.header.post-title: a(href='/news/post/' + post.slug)= post.title
      .para!= post.content.brief
      if post.content.extended
        .post-more.link
          a(href='/news/post/' + post.slug)
            | Read more
            i.icon-right
if data.posts.next
  .clearfix.showMoreRow
    .col-md-offset-2.col-md-16.mobile-no-padding
      a.showMore.link(href='/news?page=' + data.posts.next)
        | Show more
        i.icon-top
if data.sideBarPost
  .row
    .col-md-offset-2.col-md-14.mobile-no-padding
      a.showAll.link(href='/news')
        | View all
        i.icon-right
