extends /layouts/default
block body-contents
  h1 Hi Pierre,
  p.text-larger An error just happen on Ahoy:
  if enquiry.name.full || enquiry.email
    p.text-larger From:
      if enquiry.name.full
        |  <strong>#{enquiry.name.full}</strong>
      if enquiry.name.full && enquiry.email
        |  (
      if enquiry.email
        | <a href="mailto:#{enquiry.email}">#{enquiry.email}</a>
      if enquiry.name.full && enquiry.email
        | )
  if enquiry.phone
    p.text-larger Phone: #{enquiry.phone}
  if enquiry.message
    .text-larger !{enquiry.message}

  +button({url: '/keystone/enquiries/', label: 'Open Keystone'})
