@font-face
  font-family: 'mySite'
  src: url('../fonts/icomoon.eot?6pnvbl')
  src: url('../fonts/icomoon.eot?#iefix6pnvbl') format("embedded-opentype"), url('../fonts/icomoon.woff?6pnvbl') format("woff"), url('../fonts/icomoon.ttf?6pnvbl') format("truetype"), url('../fonts/icomoon.svg?6pnvbl#icomoon') format("svg")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'mySite'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-ahoy:before
  content: "\e600"

.icon-instagram:before
  content: "\e601"

.icon-pinterest:before
  content: "\e602"

.icon-facebook:before
  content: "\e603"

.icon-twitter:before
  content: "\e604"

.icon-linkedin:before
  content: "\e605"

.icon-down:before
  content: "\e606"

.icon-left:before
  content: "\e607"

.icon-right:before
  content: "\e608"
