// retina.scss
=at2x($image_name, $w: auto, $h: auto, $extention: ".png")
  background-image: image_url($image_name + $extention)
  $x2img: $image_name + "@2x" + $extention
  @media all and (-webkit-min-device-pixel-ratio: 1.5)
    background-image: image_url($x2img)
    background-size: $w $h
