include ../mixins/flash-messages
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= title || 'Ahoy'
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(href="/styles/site.css" rel="stylesheet" media="screen,projection")
    //- This file provides the default styling for the KeystoneJS Content Editor
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css" rel="stylesheet")
    //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8
    //-[if lt IE 9]
      script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    //-[endif]
    //- Include template-specific stylesheets by extending the css block
    block css
    script(src='/js/components/jquery/dist/jquery.js')
    //- Add any other template-specific HEAD tags by extending the head block
    block head
  body
    #body
      //- Display validation errors, success messages, etc.
      +flash-messages(messages)
      block content

    script(src='/js/components/jquery/dist/jquery.js')
    script(src='/js/components/material/bin/materialize.min.js')

    //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
    //- which generate links to edit content for users who can access Keystone
    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')
    script(src='/js/scripts.js')
    block js
