extends ../layouts/default
include ../mixins/header

block intro
  +top-header('', 'Contact', '')

block content
  .page-contact
    //div= formData.enquirySubmitted
    if enquirySubmitted
      h3 Thanks for getting in touch.
    else
      if validationErrors
      form(method='post')
        input(type='hidden', name='action', value='contact')
        .form-group(class=validationErrors.name ? 'has-error' : null)
          label Name
          input(type='text', name='name.full', value=formData['name.full'])
        .form-group(class=validationErrors.email ? 'has-error' : null)
          label Email
          input(type='email', name='email', value=formData.email)
        .form-group
          label Phone
          input(type='text', name='phone', value=formData.phone, placeholder='(optional)')
        .form-group(class=validationErrors.enquiryType ? 'has-error' : null)
          label What are you contacting us about?
          select(name='enquiryType')
            option(value='') (select one)
            each type in enquiryTypes
              option(value=type.value, selected=formData.enquiryType == type.value)= type.label
        .form-group(class=validationErrors.message ? 'has-error' : null)
          label Message
          textarea(name='message', placeholder='Leave us a message...' rows=4)= formData.message
        .form-actions
          button(type='submit').btn Send
