extends ../layouts/default
include ../mixins/header

block intro
  +top-header-image-2(data.page.image.url,data.page.title,data.page.intro)

block content

  .page-home
    .container.extra-padding
      .section
        .row.center
          h3.light.header Ahoy combines all your favourite on-demand services.
          p.col.s8.offset-s2.caption
            | And the best part is they're all available with a simple SMS text message from your mobile.
        .row.center
          .promo
            .col.s6.m3
              i.medium.mdi-image-flash-on
              | Lightning fast service
            .col.s6.m3
              i.medium.mdi-action-question-answer
              | No apps needed
            .col.s6.m3
              i.medium.mdi-social-school
              | Gets smarter with every use
            .col.s6.m3
              i.medium.mdi-action-https
              | Secure, 128 bit SSL payments

    .parallax-container
      .parallax
        img(src='images/hero2.jpg')

      .valign-wrapper
        .row.valign.center
          h3.light.header Invitation Only
          p.col.m4.offset-m4.caption We're currently limiting access to our service. If you'd like to get in on the action, sign-up and we'll send you the number when its ready.

          form#mc-embedded-subscribe-form.col.s12.validate(action='//helloahoy.us10.list-manage.com/subscribe/post?u=83f222d1031d6a31feeae6950&amp;id=1777d7d763', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            .row
              .input-field.col.m4.offset-m3.s12.mc-field-group
                input#mce-EMAIL.required.email.validate(type='email' name='EMAIL')
                label(for='mce-EMAIL') Email
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;')
                  input(type='text', name='b_83f222d1031d6a31feeae6950_1777d7d763', tabindex='-1', value='')

              .col.m2.s12
                button#mc-embedded-subscribe.btn-large.waves-effect.waves-light.inline(type='submit', value='Subscribe', name='subscribe')
                  | Sign Up
                  i.mdi-content-send.right

              #mce-responses.clear
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')

          script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
          script(type='text/javascript').
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);

          .row.center
            .col.s12
              p You privacy is our priority.

    .container.extra-padding.last
      .section.extra-padding
        .row.center
          h3.light.header Why is Ahoy invitation only?
          p Ahoy's mission is to provide a high quality personal "concierge" service. We are currently in a live beta testing phase and need to control the number of active customers using the service, to maintain a high quality product. If you'd like an Ahoy account, please register at on the Ahoy homepage. We process all requests as early as possible, in the order they are received.
      .section.extra-padding
        .row.center
          h3.light.header What can I ask for on Ahoy?
          p Ask us for anything. Maybe you want us to retrieve the keys you left at a friends house or maybe you need a last minute dinner reservation for your anniversary. As long as your request doesn't require us to break the law, our experts will find a solution for you.
      .section.extra-padding
        .row.center
          h3.light.header How does Ahoy work?
          p There is a huge number of different consumer services available today. From delivery, to professional services, hospitality and more, there's an app for almost anything. We want to simplify your experience and take the fuss out of coordinating a swag full of separate services. Just text us on the official Ahoy mobile number with whatever you need to start a dialogue with one of our experts. We will then contact you shortly after with a solution and a price. Once you have agreed to the price, we will charge your supplied credit card through the secure Stripe payments service.
      .section.extra-padding
        .row.center
          h3.light.header How do I know my credit card is secure?
          p Ahoy does not store any credit card details. Your card details are collected by the Stripe payments service and all payment information is encrypted with a 128 bit SSL connection (that's good). Stripe has a long list of high security features that give us the confidence to select them to manage our payments. You can read more about them on the Stripe website, here.
      .section.extra-padding
        .row.center
          h3.light.header Who is Ahoy?
          p Ahoy was founded by Andy Miller, Pierre Schweiger and Loris Cormoreche. If you'd like to become involved in Ahoy, please contact us by email at ahoydelivery@gmail.com.
