extends ../layouts/default
block intro
  +top-header-image('hero.jpg')
block content
  .bg-white.container-fluid: .row
    .col-md-11
      .page-title-main.row
        h2.title-medium.col-md-offset-2.mobile-margin= data.page.title
      if data.mediaReleases.results.length
        .media#recipient
          include ../mixins/media-release
      else
        h3.text-muted There are no posts yet.
    .main-wrapper.separator.clearfix.visible-xs-block.visible-sm-block
    aside.col-md-7.mobile-margin.short-side
      .page-title-main.row
        h2.title-medium.col-md-offset-2.col-md-14-= data.page.columnTitle
      include ../mixins/post-brief
