extends ../layouts/default
include ../mixins/header

block intro
  +top-header-image('hero.jpg')

block content
  .page-home
    .container.extra-padding
      .section
        .row
          .col.s12
            h3.light.header= data.page.title
            p!= data.page.intro
          .col.s6.align-right
            if data.categories.length
              span.label Filter by:
              .input-field
                select.basic#categoryFilter
                  option(value='/news' selected) All Categories
                  each cat in data.categories
                    option(value='/news/#{cat.key}')= cat.name

        .row
          .col.s12
            if data.posts.results.length
              #recipient.news.transition
                include ../mixins/post-brief
            else
              if data.category
                h3.text-muted There are no posts in the category #{data.category.name}.
              else
                h3.text-muted There are no posts yet.
