extends ../layouts/admin
//extends ../../../../node_modules/keystone/templates/layout/base

block content
  .page-header.list-header
    h1 Payment

  table.table.items-list
    thead
      tr
        th Name
        th Email
        th Phone
        th(colspan=4) New payment
    tbody
      each contact in data.contacts
        tr

          td= contact.name.full
          td= contact.email
          td= contact.phone
          td
            form(method='post')
              table.table
                input(type='hidden', name='action', value='pay')
                input(type='hidden', name='contactId', value=contact.id)
                input(type='hidden', name='name', value=contact.name.full)
                input(type='hidden', name='phone', value=contact.phone)
                input(type='hidden', name='email', value=contact.email)
                input(type='hidden', name='stripeToken', value=contact.stripeToken)
                input(type='hidden', name='stripeId', value=contact.stripeId)
                input(type='hidden', name='addressLineOne', value=contact.addressLineOne)
                input(type='hidden', name='city', value=contact.city)
                input(type='hidden', name='postal', value=contact.postal)
                input(type='hidden', name='state', value=contact.state)
                input(type='hidden', name='country', value=contact.country)
                tr
                  td
                    input(type='text', name="title", placeholder='Description')
                  td
                    input(type='text', name="description", placeholder='Private note')
                  td
                    input(type='text', name="amount", placeholder='Amount in cents')
                  td
                    if contact.stripeToken
                      input(type="submit" value="Make payment")
                    else
                      button Request user registration

