extends ../layouts/default
include ../mixins/header
block head
  script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5509071e31f7175e" async="async")
  script.
    var addthis_config = {
      pubid: "ra-5509071e31f7175e"
    }
block intro
  +top-header-image('hero.jpg')

block content
  .container.extra-padding.last
    .post-page: .row
      .col-md-11.mobile-margin
        .page-title-main.row
          h2.title-medium.col-md-offset-2= data.page.title
        .post.row(data-ks-editable=editable(user, {list: 'Post', id: data.post.id}))
          if data.post.publishedDate
            .post-date.col-md-offset-2
              span.day #{data.post._.publishedDate.format('DD')}
              span.month #{data.post._.publishedDate.format('MMM')}
          .col-md-2
            if data.post.categories && data.post.categories.length
              .post-side-category
                each cat, i in data.post.categories
                  a(href='/news/' + cat.key)= cat.name
                  if i < data.post.categories.length - 1
                    | ,&nbsp
          .post-content.news.col-md-13.col-md-offset-1
            h3.large.post-title= data.post.title
            if data.post.author
              .author by #{data.post.author.name.first}
            if data.post.image.exists
              .image-wrap: img(src=data.post._.image.fit(750, 450)).img-responsive
            .para!= data.post.content.extended
    //.addthis_toolbox.addthis_default_style.addthis_32x32_style
    //  a(href='https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-5509071e31f7175e&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0', target='_blank')
    //    img(src='https://cache.addthiscdn.com/icons/v2/thumbs/32x32/facebook.png', border='0', alt='Facebook')
    //  a(href='https://api.addthis.com/oexchange/0.8/forward/twitter/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-5509071e31f7175e&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0', target='_blank')
    //    img(src='https://cache.addthiscdn.com/icons/v2/thumbs/32x32/twitter.png', border='0', alt='Twitter')
    //  a(href='https://api.addthis.com/oexchange/0.8/forward/linkedin/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-5509071e31f7175e&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0', target='_blank')
    //    img(src='https://cache.addthiscdn.com/icons/v2/thumbs/32x32/linkedin.png', border='0', alt='LinkedIn')
    //  a(href='https://api.addthis.com/oexchange/0.8/forward/google_plusone_share/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-5509071e31f7175e&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0', target='_blank')
    //    img(src='https://cache.addthiscdn.com/icons/v2/thumbs/32x32/google_plusone_share.png', border='0', alt='Google+')
    //  a(href='https://api.addthis.com/oexchange/0.8/forward/email/offer?url=http%3A%2F%2Fwww.addthis.com&pubid=ra-5509071e31f7175e&ct=1&title=AddThis%20-%20Get%20likes%2C%20get%20shares%2C%20get%20followers&pco=tbxnj-1.0', target='_blank')
    //    img(src='https://cache.addthiscdn.com/icons/v2/thumbs/32x32/email.png', border='0', alt='Email')
  //  aside.col-md-7.short-side
  //    .page-title-main.mobile-no-cmargin
  //      h2.col-md-offset-2.title-medium Latest news
  //    .mobile-margin
  //      include ../mixins/post-brief
