extends ../layouts/default
include ../mixins/header
block intro
  +top-header-image('hero.jpg')
block content
  .page-home
    .container.extra-padding
      .section
        .row
          h2.light.header Privacy policy

          p
            | This following document sets forth the Privacy Policy for the Ahoy website, ahoydelivery.com.
          p
            | Ahoy is committed to providing you with the best possible customer service experience. Ahoy is bound by the Privacy Act 1988 (Crh), which sets out a number of principles concerning the privacy of individuals.
          p
            strong Collection of your personal information
            br
            | There are many aspects of the site which can be viewed without providing personal information, however, for access to future Ahoy customer support features you are required to submit personally identifiable information. This may include but not limited to a mobile number, email address and valid credit card.
          p
            strong Sharing of your personal information
            br
            | We may occasionally hire other companies to provide services on our behalf, including but not limited to handling customer support enquiries, processing transactions or customer freight shipping. Those companies will be permitted to obtain only the personal information they need to deliver the service. Ahoy takes reasonable steps to ensure that these organisations are bound by confidentiality and privacy obligations in relation to the protection of your personal information.
          p
            strong Use of your personal information
            br
            | For each visitor to reach the site, we expressively collect the following non-personally identifiable information, including but not limited to browser type, version and language, operating system, pages viewed while browsing the Site, page access times and referring website address. This collected information is used solely internally for the purpose of gauging visitor traffic, trends and delivering personalised content to you while you are at this Site.
            br
            | From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will use for these new purposes only, data collected from the time of the policy change forward will adhere to our updated practices.
          p
            strong Changes to this Privacy Policy
            br
            | Ahoy reserves the right to make amendments to this Privacy Policy at any time. If you have objections to the Privacy Policy, you should not access or use the Site.
          p
            strong Accessing Your Personal Information
            br
            | You have a right to access your personal information, subject to exceptions allowed by law. If you would like to do so, please let us know. You may be required to put your request in writing for security reasons. Ahoy reserves the right to charge a fee for searching for, and providing access to, your information on a per request basis.
          p
            strong Contacting us
            br
            | Ahoy welcomes your comments regarding this Privacy Policy. If you have any questions about this Privacy Policy and would like further information, please contact us by any of the following means at any time.
          p
            | E-mail: ahoydelivery@gmail.com
            br
            | SMS: +61 481 070 911
