extends ../layouts/default
include ../mixins/header
block head
  script(src='https://checkout.stripe.com/checkout.js')

block intro
  +top-header-image('hero.jpg')

block content
  - if(env==='production')
    script.
      window.stripeKey = 'pk_live_pBEzlTcNuPmPmTBiYiXfOEsN';
  - else
    script.
      window.stripeKey = 'pk_test_nS2vcCYpAH14YaGu0ca74b1S';

  .page-contact.container.extra-padding.last
    if contactSubmitted
      h3 Thanks for your registration.
      p Your card information has been stored securely by the Stripe payment platform. Your card will never be charged without your personal authorisation.
    else
      if alreadyRegister
        h2.header Oops
        p It look like you already register with this number. Please contact us if that's not the case or register with a new number.
      else
        if validationErrors.noToken
          h2.header Ooops...
          p
            | You are not registered:
            br
            | It look like there is a problem with our payment platform.
            br
            | We will contact you as soon as possible.
        else
          h2.header Register your credit card
          p You will only have to do this once. Your card information is stored securely by the Stripe payment platform, not by Ahoy. We will never charge your card without your permission.
      form#registration.col.s12(method='post' data-parsley-validate)
        input(type='hidden', name='stripeToken', value='')
        input(type='hidden', name='action', value='register')

        .row
          .input-field.col.s6
            input#firstName.validate(type='text' name='name.first' value=formData['name.first'] class=validationErrors.first ? 'invalid' : null required)
            label First Name
          .input-field.col.s6
            input#lastName.validate(type='text'  name='name.last'  value=formData['name.last']  class=validationErrors.last ? 'invalid' : null required)
            label(for='lastName') Last Name

        .row
          .input-field.col.s6
            input#email.validate( type='email' name='email'
                                  value=formData.email class=validationErrors.email ? 'invalid' : null
                                  data-parsley-trigger="change" required )
            label(for='email') Email
          .input-field.col.s6
            input#phone.validate(type='text' name='phone' value=formData.phone class=validationErrors.phone ? 'invalid' : null
                                 data-parsley-pattern="/^(\+[1-9]{1,4}(\s|\-)?)?\s?\(?\d\­ d\)?\s?\d\d\d\d(\s|\-)?\d\d\d\d$/" required)
            label(for='phone') Phone

        ul.collapsible(data-collapsible="expandable")
          li
            .collapsible-header
              i.mdi-communication-location-on
              | Expecting a delivery?
            .collapsible-body
              .row
                .input-field.col.s12
                  input#addressLineOne.validate(type='text' name='addressLineOne' value=formData.addressLineOne class=validationErrors.addressLineOne ? 'invalid' : null)
                  label(for='addressLineOne') Address
                //.input-field.col.s12
                //  input#addressLineTwo.validate(type='text' name='addressLineTwo' value=formData.addressLineTwo class=validationErrors.addressLineTwo ? 'invalid' : null)
                //  label(for='addressLineTwo') Address Line 2

              .row
                .input-field.col.s6
                  input#city.validate(type='text' name='city' value=formData.city class=validationErrors.city ? 'invalid' : null)
                  label(for='city') City

                .input-field.col.s6
                  input#postal.validate(type='text' name='postal' value=formData.postal class=validationErrors.postal ? 'invalid' : null)
                  label(for='postal') Postal


              .row
                .col.s6
                  label State
                  select(name='state' class=validationErrors.state ? 'invalid' : null)
                    option(value='' disabled selected) Select
                    each state in states
                      option(value=state.value, selected=formData.state == state.value)= state.value
                .col.s6
                  label(for='country') Country
                  input#country.validate(type='text' name='country' value='Australia' class=validationErrors.country ? 'invalid' : null)


        .row
          .col.s12
            button#stripePopup.btn-large.waves-effect.waves-light
              | Submit
              i.mdi-content-send.right
            .invalid-form-error-message
