extends ../layouts/default
include ../mixins/header
block intro
  +top-header-image('hero.jpg')
block content

  .page-service
    .container.extra-padding.last
      h2.header Ahoy Services
      p Explore just a handful of services now available through Ahoy, below. Now you know someone who can get it all done, on-demand.
      .section
        .row
          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/runners.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Runners
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Runners
                  i.mdi-navigation-close.right
                p
                  | Left your keys at the office? Run out of drinks at your party? We'll sort it out, quick smart.

          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/recycling.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Recyclers
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Recyclers
                  i.mdi-navigation-close.right
                p
                  | Save the planet by having your trash delivered to Scientists & product designers for recycling.

          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/tickets.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Travel Planners
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Travel Planners
                  i.mdi-navigation-close.right
                p
                  | A memorable night out at a show or your next global adventure.

          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/grocery.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Grocers
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Grocers
                  i.mdi-navigation-close.right
                p
                  | Professional shoppers pick your groceries and deliver it within an hour.

          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/lawyers.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Lawyers
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Lawyers
                  i.mdi-navigation-close.right
                p
                  | Experienced Solicitors and Lawyers available for fixed prices.

          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/transport.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Transport
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Transport
                  i.mdi-navigation-close.right
                p
                  | Planes, trains and automobiles. We'll connect you with the vehicle you need.

          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/chefs.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Chefs
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Chefs
                  i.mdi-navigation-close.right
                p
                  | Delicious, customised catering options for your office or dinner party.

          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/trades-people.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Trades People
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Trades People
                  i.mdi-navigation-close.right
                p
                  | From odd jobs to big projects, we know the right people for a quality result.

          .col.m4
            .card
              .card-image.waves-effect.waves-block.waves-light
                img.activator(src='images/services/spaces.jpg')
              .card-content
                span.card-title.activator.grey-text.text-darken-4
                  | Space
                  i.mdi-navigation-more-vert.right
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | Space
                  i.mdi-navigation-close.right
                p
                  | Spots to park your car, storage or casual desk space to work from.


