// Add this to node_modules/keystone/public/styles/keystone.less until keystone add this feature
// @import "addon.less";
@font-face
  font-family: 'icomoon'
  src: url('/fonts/icomoon.eot?4rqjsx')
  src: url('/fonts/icomoon.eot?#iefix4rqjsx') format('embedded-opentype'),url('/fonts/icomoon.woff?4rqjsx') format('woff'),url('/fonts/icomoon.ttf?4rqjsx') format('truetype'),url('/fonts/icomoon.svg?4rqjsx#icomoon') format('svg')
  font-weight: normal
  font-style: normal

=icon-features
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html
  position: relative
  min-height: 100%

#wrap
  padding-bottom: 75px

.ion-arrow-left-c:before
  margin-left: 10px


#header

  &,
  .navbar-backtobrand-message
    background-color: #5d64a3

  .navbar-nav>.active>a
    &,
    &:hover,
    &:focus
      background-color: #fff
      color: #131313


  .navbar-nav>li>a
    color: white

  .navbar-brand
    +icon-features
    max-width: 150px
    max-height: 50px
    overflow: hidden
    padding-top: 10px
    &,
    &:hover
      color: transparent
    &:before
      content: "\e600"
      color: #fff
      font-size: 30px

  .navbar-toggle
    &:hover,
    &:focus
      background-color: transparent

#page-home #body:before
  +icon-features
  content: "\e600"
  position: absolute
  top: 50%
  left: 50%
  transform: translate3d(-50%,-50%,0)
  font-size: 150px
  opacity: .4
  color: #cce6f2


#footer
  position: absolute
  bottom: 0
  width: 100%
  background-repeat: no-repeat
  background-position: center
  background-image: url('/images/ahoy-logo.png') ,-webkit-linear-gradient(top, #59bfc7, #5d64a3)
  background-size: 100px, auto
  p
    display: none

.nav-section
  clear: left
  li
    float: left
  a
    color: #333
    font-size: 14px
    padding-right: 10px

//[title='Back to Page Homes'],
//[title='Back to Page Abouts'],
//[title='Back to Page Our Works'],
//[title='Back to Page News'],
//[title='Back to Contacts']
.navbar-nav [href='/keystone/page-abouts'],
.navbar-nav [href='/keystone/page-homes'],
.item-toolbar--header
  display: none !important
